<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Animação =)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>Rubber Band</h4>
  <img class="animate__animated animate__infinite animate__rubberBand" src="../../../assets/elaine.jpg">

  <h4>Tada</h4>
  <img class="animate__animated animate__infinite animate__tada" src="../../../assets/elaine.jpg">

  <h4>Flash</h4>
  <img class="animate__animated animate__infinite animate__flash" src="../../../assets/elaine.jpg">

  <h4>Pulse</h4>
  <img class="animate__animated animate__infinite animate__pulse" src="../../../assets/elaine.jpg">

  <h4>Bounce</h4>
  <img class="animate__animated animate__infinite animate__bounce" src="../../../assets/elaine.jpg">

  <h4>FadeIn Infinite</h4>
  <img class="animate__animated animate__infinite animate__fadeIn" src="../../../assets/elaine.jpg">  
</ion-content>
