<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Alertas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" color="secondary" (click)="alerta()">Alerta</ion-button>
  <ion-button expand="block" color="secondary" (click)="multiple()">Alerta Múltiplas Opções</ion-button>
  <ion-button expand="block" color="secondary" (click)="confirm()">Alerta Confirmação</ion-button>
  <ion-button expand="block" color="secondary" (click)="prompt()">Alerta Prompt</ion-button>
</ion-content>
