<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Componentes Nativos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="showPage('camera')">
    <ion-icon slot="start" [ios]="'camera-outline'" [md]="'camera-sharp'"></ion-icon>
    Câmera
  </ion-button>
  <ion-button expand="block" (click)="showPage('text-to-speech')">
    <ion-icon slot="start" [ios]="'mic-outline'" [md]="'mic-sharp'"></ion-icon>
    Text to Speech
  </ion-button>

  <ion-button expand="block" (click)="showPage('zoom')">
    <ion-icon slot="start" [ios]="'videocam-outline'" [md]="'videocam-sharp'"></ion-icon>
    Integração Zoom
  </ion-button>  
</ion-content>
