<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Badge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Default -->
  <ion-item>
    <ion-label>Notificações</ion-label>
    <ion-badge>99</ion-badge>
  </ion-item>

  <ion-item>
    <ion-label>Notificações Left</ion-label>
    <ion-badge slot="start">99</ion-badge>
  </ion-item>

  <ion-item>
    <ion-label>Dinamicamente</ion-label>
    <ion-badge>{{notificacoes}}</ion-badge>
  </ion-item>

  <!-- Colors -->
  <ion-item>
    <ion-label>Primary</ion-label>
    <ion-badge color="primary">11</ion-badge>
  </ion-item>

  <ion-item>
    <ion-label>Secondary</ion-label>
    <ion-badge color="secondary">22</ion-badge>
  </ion-item>

  <ion-item>
    <ion-label>Tertiary</ion-label>
    <ion-badge color="tertiary">33</ion-badge>
  </ion-item>

  <ion-item>
    <ion-label>Success</ion-label>
    <ion-badge color="success">44</ion-badge>
  </ion-item>

  <ion-item>
    <ion-label>Warning</ion-label>
    <ion-badge color="warning">55</ion-badge>
  </ion-item>

  <ion-item>
    <ion-label>Danger</ion-label>
    <ion-badge color="danger">66</ion-badge>
  </ion-item>

  <ion-item>
    <ion-label>Light</ion-label>
    <ion-badge color="light">77</ion-badge>
  </ion-item>

  <ion-item>
    <ion-label>Medium</ion-label>
    <ion-badge color="medium">88</ion-badge>
  </ion-item>

  <ion-item>
    <ion-label>Dark</ion-label>
    <ion-badge color="dark">99</ion-badge>
  </ion-item>
  

</ion-content>
